<h1>Transactions Index</h1>

<%= link_to "Add Transaction", new_category_transaction_path %>

<% @transactions.each do |transaction| %>
  <%= transaction.description %>
  <%= transaction.amount %>
  <%= transaction.category.name %>
  <%= link_to "Edit Transaction", edit_category_transaction_path([@category.id, transaction.id]) %>
<% end %>
